{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block title %}
  회원 메인 페이지
{% endblock title %}

{% block content %}
  <h1 class='text-center my-4'>회원 메인 페이지</h1>
  <div>
    <table class="table table-dark  table-hover p-3 container text-center">
      <thead>
        <th>id</th>
        <th>사용자 이름</th>
        <th>Email</th>

      </thead>

      <tbody>
        <tr>
          {% for user in users %}
            <td>{{ user.pk }}</td>
            <td>
              <a href="{% url 'accounts:detail' user.pk %}">{{ user.username }}</a>
            </td>
            <td>{{ user.email }}</td>
          </tr>
        </tbody>
      {% endfor %}
    </table>
    <div class='d-flex justify-content-between mt-4'>
      <a class='btn btn-dark' type='button' href="{% url 'articles:index' %}">Home</a>
      <a class='btn btn-dark' type='button' href="{% url 'accounts:logout' %}">로그아웃</a>
    </div>
  {% endblock content %}
