{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}

  <h1 class='text-center my-4'>Movie Reviews</h1>
  <div class="table-responsive input-group mb-3 px-3">
    <table class="table align-middle">
      <thead>
        <tr>
          <th scope="col">리뷰 번호</th>
          <th scope="col">리뷰 제목</th>
          <th scope="col">작성 시간</th>
        </tr>
      </thead>
      <tbody>
        {% comment %} {% for review in reviews %}
          <tr>
            <th scope="row" class="align-items-center"></th>
            <td>
              <a href="" class="stretched-link"></a>
            </td>
            <td></td>
          </tr>
        {% endfor %} {% endcomment %}
      </tbody>
    </table>
  </div>
{% endblock %}
