{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block title %}게시글 상세보기{% endblock title %}

{% block content %}
  <div class="m-3">
    <h1>{{ articles.title }}</h1>
    <hr>
    <p>작성자 :
      <b>{{ articles.user }}
      </b>님
    </p>
    <p>내용 :
      {{ articles.content }}</p>
    <br>
    <hr>
    {% if request.user == articles.user %}
      <a class="btn btn-primary py-sm-1" href="{% url 'articles:update' articles.pk %}" role="button">수정</a>
      <a class="btn btn-danger py-sm-1" href="" role="button">삭제</a>
    {% endif %}
    <a class='btn btn-dark py-sm-1' href="{% url 'articles:index' %}">목록</a>
  </div>
  <hr>
  <div>
    <h3 class='mt-4'>댓글</h3>
    {% if comments %}
      <p>
        <b>{{comments|length }}개의 댓글이 있습니다.</b>
      </p>
    {% endif %}
    <hr>
    {% if request.user.is_authenticated %}
      <div>
        <form action="{% url 'articles:comment_create' articles.pk %}" method="POST">
          {% csrf_token %}
          {% bootstrap_form comment_form layout='inline'%}
          <input type="submit" class='btn btn-dark mt-2' value='댓글달기'>
        </form>
      </div>
    {% endif %}
    {% for comment in articles.comment_set.all %}
      <div class='d-flex justify-content-between my-2'>
        <p class='text-start layout-inline'>{{comment.user }}
          |
          {{ comment.content }}</p>
        <p class='text-end layout-inline'>{{ comment.created_at }}</p>
      </div>
      <div class='text-end'>
        <form action="{% url 'articles:comment_delete' articles.pk comment.pk %}" method="POST">
          {% csrf_token %}
          <input type="submit" class='btn btn-dark' value='삭제'>
        </form>
      </div>
      <hr>
      {% empty %}
      <p>no comment....</p>
    {% endfor %}
  </div>
{% endblock %}
