{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <div class="m-3">
    <h1>{{ articles.title }}</h1>
    <hr>
    <p>{{ articles.content }}</p>
    {% if articles.image %}
    <img src="{{ articles.image.url }}" alt="{{ articles.image }}">
    {% endif %}
    <a class="btn btn-dark py-sm-1" href="{% url 'articles:update' articles.pk %}" role="button">수정하기</a>
    {% comment %} <a class="btn btn-danger py-sm-1" href="{% url 'articles:delete' articles.pk %}" role="button">삭제</a> {% endcomment %}
  </div>
  <hr>
  <div>
    <form action="{% url 'articles:comment_create' articles.pk %}" method="POST">
        {% csrf_token %}
        {% bootstrap_form comment_form layout='inline'%}
        <input type="submit" class='btn btn-dark mt-2' value='댓글달기'>
    </form>
  </div>
  <h3 class='mt-4'>댓글</h3>
  {% if comments %}
    <p><b>{{comments|length }}개의 댓글이 있습니다.</b></p>
  {% endif %}
  <hr>
  {% for comment in articles.comment_set.all %}
  <div class='d-flex justify-content-between'>
    <p>{{ comment.content }}</p>
    <p>{{ comment.created_at }}</p>
    <form action="{% url 'articles:comment_delete' articles.pk comment.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" class='btn btn-dark' value='삭제'>
    </form>
  </div>
  <hr>
  {% empty %}
  <p>no comment....</p>
  {% endfor %}
{% endblock content %}