{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block title %}회원 목록 페이지{% endblock title %}

{% block content %}
  <h1 class='text-center my-4'>회원 리스트</h1>
  <table class='table text-center'>
    <thead>
      <th>ID</th>
      <th>닉네임</th>
      <th>이메일</th>
    </thead>

    <tbody>
      {% comment %} {% for account in accounts %} {% endcomment %}
        <tr>
          <td>{{ account.pk }}</td>
          <td>
            <a href="">{{ account.username }}</a>
          </td>
          <td>{{ account.email }}</td>
        </tr>
      {% comment %} {% endfor %} {% endcomment %}
    </tbody>
  </table>

{% endblock content %}
