{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <div class=" d-flex justify-content-center align-items-center  " style="height: 10rem;">
    <h1 class="">리뷰 상세 보기</h1>

  </div>
  <div class="container">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">제목</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" value="{{ reviews.title }}" disabled="disabled" readonly="readonly">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">리뷰 내용</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" disabled="disabled" readonly="readonly">{{ reviews.content }}</textarea>
    </div>
    {% if request.user.is_authenticated %}
      <div class="d-flex justify-content-between">
        <a class="btn btn-primary" type="button" href="{% url 'articles:update' reviews.pk %}">수정하기</a>
        <a class="btn btn-primary" type="button" href="{% url 'articles:delete' reviews.pk %}">삭제</a>
      </div>
    {% endif %}
  </div>
{% endblock %}
