/* 아래에 CSS를 작성해주세요. */
* {
  box-sizing: border-box;
}
.align-center {
  text-align: center;
}
.name-font {
  font-size: 12px;
}
.main {
  width: 916px;
}
.card {
  width : 301px;
  display: inline-block;
}
.card-image {
  width : 300px;
  border-radius: 5%;
}
.sub_name {
  font-size: 11px;
}
.sub_body {
  font-size: 10px;
}