{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content%}
  <h1>자유 게시판</h1>
  <hr>
  <div>
    <table class="table table-dark  table-hover p-3 container text-center">
      <thead>
        <th>리뷰 번호</th>
        <th>리뷰 제목</th>
        <th>작성 시간</th>

      </thead>

      <tbody>
        <tr>
          {%for k in Review%}
            <td>{{ k.id }}
            </td>
            <td>
              <a href="{% url 'articles:detail' k.id %}">{{ k.title }}</a>
            </td>
            <td>{{ k.created_at }}</td>
          </tr>
        </tbody>
      {% endfor %}

    </table>
    {% if request.user.is_authenticated %}
      <div class="d-flex justify-content-end container">
        <a href="{% url 'articles:create' %}" class="btn btn-primary" role="button">리뷰 작성하기</a>
      </div>
    {% endif %}
  </div>
{% endblock %}